<div id="<%= dom_id album_track %>">
  <p>
    <strong>Album:</strong>
    <%= album_track.album.title %>
  </p>

  <p>
    <strong>Track name:</strong>
    <%= album_track.track_name %>
  </p>

  <p>
    <strong>Track number:</strong>
    <%= album_track.track_number %>
  </p>

</div>
