<p style="color: green"><%= notice %></p>

<% content_for :title, "Album tracks" %>

<h1>Album tracks</h1>

<div id="album_tracks">
  <% @album_tracks.each do |album_track| %>
    <%= render album_track %>
    <p>
      <%= link_to "Show this album track", album_track %>
    </p>
  <% end %>
</div>

<%= link_to "New album track", new_album_track_path %>
