<div id="<%= dom_id gear %>">
  <p>
    <strong>Item:</strong>
    <%= gear.item %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gear.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= gear.price %>
  </p>

</div>
