<% content_for :title, "Editing gear" %>

<h1>Editing gear</h1>

<%= render "form", gear: @gear %>

<br>

<div>
  <%= link_to "Show this gear", @gear %> |
  <%= link_to "Back to gears", gears_path %>
</div>
