<div id="<%= dom_id order_album %>">
  <p>
    <strong>Order:</strong>
    <%= order_album.order_id %>
  </p>

  <p>
    <strong>Album copy:</strong>
    <%= order_album.album_copy_id %>
  </p>

</div>
